{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Home{% endblock %}

{% block body %}
    <div style="height:400px;">

    </div>
{% endblock %}
=======
{% block body %}
    <a href="{{ path('security_login') }}"> Connexion</a>

{% endblock %}
>>>>>>> c656235fed2c11718c48d44890786bc7253d708d
